<?xml version="1.0" encoding="UTF-8"?>
<phpunit
        backupGlobals="false"
        backupStaticAttributes="false"
        colors="true"
        convertErrorsToExceptions="true"
        convertNoticesToExceptions="true"
        convertWarningsToExceptions="true"
        processIsolation="true"
        stopOnFailure="false"
        syntaxCheck="false"
        bootstrap="./vendor/autoload.php">
    <testsuites>
        <!--
        <testsuite name="Tradesman">
            <file>./tests/TradesmanTest.php</file>
        </testsuite>
        <testsuite name="Libra">
            <file>./tests/LibraTest.php</file>
        </testsuite>
        -->
        <testsuite name="Solution">
            <file>./tests/SolutionTest.php</file>
        </testsuite>
    </testsuites>
</phpunit>